* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(126, 123, 123);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  gap: 60px;
}

.watch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  background-color: #0c2340;
  outline: none;
  margin-top: 50px;
  margin: 0 auto;
}
.watch h2 {
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin: 10px 0px;
  background-color: inherit;
}
.button {
  background-color: inherit;
}
